<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
			<!--<charset>UTF-8</charset>-->
		</encoder>
	</appender>

	<!-- 全部日志 -->
	<appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logPath}/dct-log.%d{yyyy-MM-dd}.${webapp.ip}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>

	<!-- 全部INFO日志 -->
	<appender name="INFO_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logPath}/dct-log.%d{yyyy-MM-dd}.${webapp.ip}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--********************************* logger ********************************* -->
	<!-- 全部日志打印 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ALL" />
		<appender-ref ref="INFO_ALL" />
	</root>

</configuration>